{% extends 'allauth/layouts/base.html' %}
{% block title %}Sessions{% endblock %}

{% load static %}
{% block content %}
<div class="chat-container">
  <div class="card-header">Chat</div>
  <br><br>
  <div class="card flex-grow-1">
    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">
        
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>MIDI generator</b>
              </div>
              <br>
              <div class="message-content">
                Pozdrav! Kako vam mogu pomoći?
              </div>
            </div>
          </li>

        {% for chat in chats %}
          
            {% if chat.user == request.user %}
            {% comment %} <br> <br> {% endcomment %}
            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>Vi</b>
                </div>
                <br>
                <br>
                

                <div class="message-content">
                  {{ chat.message }}
                </div>
              </div>
            </li>
            {% comment %} <br> <br> {% endcomment %}
            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>MIDI generator</b>
                </div>
                <br>
                <div class="message-content">
                  <p>Tip: {{ chat.type }}</p>
                  <a href="{{ chat.midi_link }}" download style="font-size: 30px;">Download MIDI <img src="{% static 'svg/download-solid.svg' %}" style="width: 30px;"></a>
                  <p
                    style="color: rgb(70, 70, 70)"
                  >ID: {{ chat.id }}</p>
                  <br>
                  {{ chat.response }}
                </div>
              </div>
            </li>

            {% endif %}

        {% endfor %}    


      </ul>
      
    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form" method="post" style="display: flex; flex-direction: column;">
    {%csrf_token%}
    
    <div style="width: 100%; display: flex; flex-direction: column;">
      
    
    <div class="input-group" style='width: 100%; justify-content: center;' >
      <input style="width: 100%;" type="text" class="form-control message-input" placeholder="Type your message..." name="message">


      <div style="display: flex; justify-content: space-evenly; gap: 2rem;">
        <div style='
          background-color: rgb(40, 40, 40);
          padding: 0.5rem;
          border-radius: 10px;
        '>
        <label style='width: 33%;' for="m">Melody</label>
          <input type="radio" name="choice" value="0" class="choice" checked id="m"
            style="
              scale: 150%;
            "
          > 
        </div>
        
        <div style='
        background-color: rgb(40, 40, 40);
        padding: 0.5rem;
        border-radius: 10px;
      '>
        <label style='width: 33%;' for='c'>Chords</label>
          <input type="radio" name="choice" value="1" class="choice"id='c'
          style="
              scale: 150%;
            "
          > 
        </div>
        <div style='
        background-color: rgb(40, 40, 40);
        padding: 0.5rem;
        border-radius: 10px;
      '>
        <label style='width: 33%;' for='d'>Drums</label> 
          <input type="radio" name="choice" value="2" class="choice" id='d'
          style="
              scale: 150%;
            "
          > 
        </div>
        
      </div>
      
    </div>
    <button type="submit" class="btn btn-primary btn-send">Send</button>
  </form>
</div>

<script>
  const messageList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messagesInput = document.querySelector('.message-input');
  const chatContainer = document.querySelector('.chat-container');
  const choice = document.querySelector('.choice');

  messageForm.addEventListener('submit', (e) => {
    e.preventDefault();
    
    const message = messagesInput.value.trim();
    if (message.lenght === 0) {
      return;
    }

    const messageElement = document.createElement('li');
    messageElement.classList.add('message', 'sent');
    messageElement.innerHTML = `
    {% comment %} <br> <br> {% endcomment %}
      <div class="message-text">
        <div class="message-sender">
          <b>Vi</b>
        </div>
        <br>
        <div class="message-content">
          ${message}
        </div>
      </div>
    `;
    messageList.appendChild(messageElement);
    messagesInput.value = '';

    fetch('', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'},
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message,
        'choice': document.querySelector('input[name="choice"]:checked').value
      })
    })
    .then(response => response.json())
    .then(data => {
      const response = data.response;
      const messageElement = document.createElement('li');
      const link = data.link;
      const id = data.id;
      const type = data.type;
      messageElement.classList.add('message', 'received');
      messageElement.innerHTML = `
      {% comment %} <br> <br> {% endcomment %}
        <div class="message-text">
          <div class="message-sender">
            <b>MIDI generator</b>
          </div>
          <br>
          <div class="message-content">
            <p>Tip: ${type}</p>
            <a href="${link}" download style="font-size: 30px;">Download MIDI <img src="{% static 'svg/download-solid.svg' %}" style="width: 30px;"></a>
            <p style="color: rgb(70, 70, 70)">ID: ${id}</p>
            <br>
            ${response}
          </div>
        </div>
      `;
      messageList.appendChild(messageElement);
      chatContainer.scrollTop = chatContainer.scrollHeight;

  });
  });

</script>

{% endblock %}
