{% extends 'allauth/layouts/base.html' %}

{% block title %}Sessions{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card-header">Chat</div>
  <br><br>
  <div class="card flex-grow-1">
    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">
        
          <li class="message received">
            <div class="message-text">
              <div class="message-sender">
                <b>MIDI generator</b>
              </div>
              <br>
              <div class="message-content">
                Pozdrav! Kako vam mogu pomoći?
              </div>
            </div>
          </li>

        {% for chat in chats %}
          
            {% if chat.user == request.user %}
            {% comment %} <br> <br> {% endcomment %}
            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>Vi</b>
                </div>
                <br>
                <div class="message-content">
                  {{ chat.message }}
                </div>
              </div>
            </li>
            {% comment %} <br> <br> {% endcomment %}
            <li class="message received">
              <div class="message-text">
                <div class="message-sender">
                  <b>MIDI generator</b>
                </div>
                <br>
                <div class="message-content">
                  {{ chat.response }}
                </div>
              </div>
            </li>

            {% endif %}

        {% endfor %}    


      </ul>
      
    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form" method="post">
    {%csrf_token%}
    

    
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Type your message..." name="message">

      <label>
        <input type="radio" name="choice" value="m" class="choice"> m
      </label>
      <label>
          <input type="radio" name="choice" value="c" class="choice"> c
      </label>
      <label>
          <input type="radio" name="choice" value="d" class="choice"> d
      </label>


      <div class="input-group-append">

        <button type="submit" class="btn btn-primary btn-send">Send</button>
        
      </div>
    </div>
  </form>
</div>

<script>
  const messageList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messagesInput = document.querySelector('.message-input');
  const chatContainer = document.querySelector('.chat-container');
  const choice = document.querySelector('.choice');

  messageForm.addEventListener('submit', (e) => {
    e.preventDefault();
    
    const message = messagesInput.value.trim();
    if (message.lenght === 0) {
      return;
    }

    const messageElement = document.createElement('li');
    messageElement.classList.add('message', 'sent');
    messageElement.innerHTML = `
    {% comment %} <br> <br> {% endcomment %}
      <div class="message-text">
        <div class="message-sender">
          <b>Vi</b>
        </div>
        <br>
        <div class="message-content">
          ${message}
        </div>
      </div>
    `;
    messageList.appendChild(messageElement);
    messagesInput.value = '';

    fetch('', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'},
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message,
        'choice': document.querySelector('input[name="choice"]:checked').value
      })
    })
    .then(response => response.json())
    .then(data => {
      const response = data.response;
      const messageElement = document.createElement('li');
      messageElement.classList.add('message', 'received');
      messageElement.innerHTML = `
      {% comment %} <br> <br> {% endcomment %}
        <div class="message-text">
          <div class="message-sender">
            <b>MIDI generator</b>
          </div>
          <br>
          <div class="message-content">
            ${response}
          </div>
        </div>
      `;
      messageList.appendChild(messageElement);
      chatContainer.scrollTop = chatContainer.scrollHeight;

  });
  });

</script>

{% endblock %}